<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale - Users</title>
    <meta name="description" content="reg">
    <meta name="author" content="Dima">

    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <%include partials/header%>

    <div class="addGoods">
        <form action="/goods/addgoods" method="post" enctype="multipart/form-data">
            <label>Название товара</label><br />
            <input type="text" name="goodsName" /><br /><br />
            <label>Город</label><br>
            <select name="goodsCity">
                <option value="Киев">Киев</option>
                <option value="Харьков">Харьков</option>
                <option value="Одесса">Одесса</option>
            </select><br /><br />
            <label>Состояние товара</label><br />
            <select name="goodsCondition">
                <option value="Новый">Новый</option>
                <option value="Б/У">Б/У</option>
            </select><br /><br />
            <label>Описание</label><br />
            <textarea style="resize:none" name="goodsAbout" rows="20" cols="80"></textarea><br /><br />
            <label>Изображения</label><br />
            <input type="file" name="goodsImage" accept="image/*" multiple/><br />
            <input type="submit" value="Отправить"/>
            <span id="status"></span>
        </form>
    </div>
</body>
</html>