<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale</title>
    <meta name="description" content="Site for used stuff that u wanna sale.">
    <meta name="author" content="Dima">

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
    <%include partials/header%>

    <div class="goodsFilter">
        <%if(founded === false) {%>
            <%=object%>
        <%}else{%>
            <ul class="list-group">
                <% object.forEach( function( object ) { %>
                    <li class="list-group-item">
                        <img class="objectImage" src="<%=object.image%>"/><br />
                        <a href="/goods/<%=object.id%>"> <%=object.name%></a>
                    </li>
                <% }) %>
            </ul>

            <% if (pagesCount > 1) { %>
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                    <li><a href="/?page=1">&laquo;</a></li>
                <% } %>
                <% var i = 1;
                    if (currentPage > 5) {
                        i = +currentPage - 4;
                    } %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a href="#">...</a></li>
                <% } %>
                <% for (i; i<=pagesCount; i++) { %>
                    <% if (currentPage == i) { %>
                        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                    <% } else { %>
                        <li><a href="/search?search=<%=searchParam%>&submit=Поиск&page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == (+currentPage + 4)) { %>
                        <li class="disabled"><a href="#">...</a></li>
                    <% break; } %>
                <% } %>
                <% if (currentPage != pagesCount) { %>
                    <li><a href="/search?search=<%=searchParam%>&submit=Поиск&page=<%= pagesCount %>">&raquo;</a></li>
                <% } %>
            </ul>
            <% } %>
        <%}%>
    </div>
</body>
</html>