﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale - Good</title>
    <meta name="description" content="Good">
    <meta name="author" content="Dima">
    
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <%include partials/header%>
    <div class="good">
        <h1><a href="/goods">Back</a></h1>
        <p>Имя товара:<br /> <%=object.name%><br /><br />
           Состояние:<br /> <%=object.condition%><br /><br />
           Описание:<br /> <%=object.about%><br /><br />
           Картинка: <br /> <img class="objectImage" src="<%=object.image%>"/>
            <!-- <img class="objectImage" src="data:image/png;base64, <%=object.image%>"/> -->
        </p>
        <%if(username === object.deleteCheck || role === "admin"){%>
            <div class="removeGood">
                <form action="/goods/delete" method="post">
                    <button type="submit" name="id" value=<%=object.id%>> Удалить</button>
                </form>
            </div>
        <%}%>
    </div>
</body>
</html>