﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale</title>
    <meta name="description" content="Site for used stuff that u wanna sale.">
    <meta name="author" content="Dima">

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
    <%include partials/header%>
    <div class="goodTable">
        <ul>
            <% object.forEach(function(item, i, object) {%>
            <li class="goodRef">
                <a href="/goods/<%=item.id%>"> <%=item.name%></a>
            </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>