﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale</title>
    <meta name="description" content="Site for used stuff that u wanna sale.">
    <meta name="author" content="Dima">

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
    <%include partials/header%>
    <a class="to-all-goods" href="/goods">Все товары</a>
</body>
</html>