<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale</title>
    <meta name="description" content="Site for used stuff that u wanna sale.">
    <meta name="author" content="Dima">

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
    <%include partials/header%>
    <div class="userLog">
        <form action="/profile/login" method="post" >
            <input type="text" name="username" placeholder="Логин" /><br />
            <input type="password" name="password" placeholder="Пароль"/><br />
            <input type="submit" value="Войти"/>
            <span id="status"></span>
        </form>
    </div>
    <div class="regReferens">
        <a href="register">Регистрация</a>
    </div>
</body>
</html>