<header class="siteTop">
    <div class="navi">
        <div class="wrapper">
            <h1>
                <a title="На главную Stuff Sale" class="icon" href="/">
                    На главную Stuff Sale
                </a>
            </h1>
        </div>
        <div class="userWrapper">
                <% if (user) { %>
                <div calss="userLogout">
                <b><%= user.username %></b>
                <a href='/profile/logout'>Выйти</a>
                    <div/>
                <%}%>
            <h1>
                <a title="Профиль" class="userIcon" href="/profile/login">
                    Профиль
                </a>
            </h1>
        </div>
        <div class="findHolder">
            <form action="/search" method="get" class="search" >
                <input type="search" name="search" placeholder="Поиск" class="input"/>
                <input type="submit" name="submit" value="Поиск" class="submit" />
            </form>
        </div>
        <div class="goodsCreate">
            <a href="/goods/add"> Создать </a>
        </div>
    </div>
</header>