body {
    text-align: center;
    /*background-color: #3d2f2f;*/
    background-color: rgb(222, 222, 222);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

ul {
    list-style-type: none;
}

.addGoods{
    top: 150px;
    left: 400px;
    position: absolute;
}

.good{
    position: absolute;
    top: 100px;
    right: 700px;
}

.to-all-goods{
    position: absolute;
    top: 100px;
    left: 650px;
}

.users-list{
    position: absolute;
    top: 100px;
    left: 600px;
}

.objectImage{
    height: 80px;
    width: 80px;
}

.list-group-item{
    display: inline-block;
}

.goodsFilter{
    left: 400px;
    top: 100px;
    position: absolute;
    z-index: -20;
}

.userLogout{
    z-index: 0;
}

.goodTable{
    top: 100px;
    left: 600px;
    position: absolute;
}

.goodsCreate{
    margin-top: -2px;
    right: 350px;
    position: fixed;
    z-index: 0;
}

#textarea{
    resize: none;
}

.regReferens{
    top: 200px;
    left: 630px;
    position: absolute;
}

.userLog{
    top: 100px;
    left: 600px;
    position:absolute;
}

.userReg {
    top: 100px;
    left: 600px;
    position: absolute;
}

.findHolder {
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 8.65%;
    z-index: -10;
}

.submit {
    margin-top: 25px;
}
.input {
    margin-top: 25px;
}

.icon {
    height: 85px;
    width: 85px;
    background: url(../images/logo.png);
    background-size: 100%;
    margin-left: 100px;
    margin-top: -10px;
    text-indent: -1000em;
    overflow: hidden;
    display: inline-block;
    position: fixed;
    left: 100px;
    top: 15px;
    z-index: 0;
}

.userIcon {
    height: 70px;
    width: 70px;
    background: url(../images/user.png);
    background-size: 100%;
    margin-right: 100px;
    margin-top: -13px;
    text-indent: -1000em;
    overflow: hidden;
    display: inline-block;
    position: fixed;
    left: 1175px;
    top: 15px;
    z-index: 0;
}

.userGood {
    text-align: left;
    font-size: 12px;
}

.userGood:after {
        clear: both;
        content: ".";
        display: block;
        height: 0px;
        overflow: hidden;
        visibility: hidden;
}

.wrapper {
    text-align: left;
    font-size: 12px;
}

.wrapper:after {
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
}

h1 {
    font-size: 21px;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    line-height: 1em;
    font-weight: 400;
}