body {
    background-image: url(../images/background-image-for-website.jpg);
    background-color: #c7b39b;
    width: 100%;
    height: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.userRef {
    background: black;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    padding: 0;
    width: 150px;
    margin-bottom: 10px;
    transition: background-color 0.5s;
    border: 1px solid white;
}

.userRef:hover {
    background-color: white;
    border-color: black;
}

.userRef a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.userRef:hover a {
    color: black;
}

div.userImage {
    padding: 0.5em;
    margin: 1em 2em;
}

div {
    display: block;
    text-align: center;
}
