﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale</title>
    <meta name="description" content="Site for used stuff that u wanna sale.">
    <meta name="author" content="Dima">
    
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
    <h1>Welcome!</h1>
    <p>Site for used stuff that u wanna sale.<br>
        Site for used stuff that u wanna sale.<br>
        Site for used stuff that u wanna sale.<br>
        Site for used stuff that u wanna sale.<br>
        Site for used stuff that u wanna sale.
    </p>
    <a href="/users">All users</a>
</body>
</html>