﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale - User</title>
    <meta name="description" content="User">
    <meta name="author" content="Dima">
    
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <h1 class ="user"><a href="/users">Back</a></h1>
    <div class="userImage">
        <p>
            <img alt="idk" src="https://d30y9cdsu7xlg0.cloudfront.net/png/15724-200.png"/>
        </p>
    </div>
    <div>
        <p></p>
    </div>
</body>
</html>