﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stuff Sale - Users</title>
    <meta name="description" content="All users">
    <meta name="author" content="Dima">
    
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <h1><a href="/">To main page</a></h1>
<ul>
    
    <% for (let s of sexes) { %>
    <%=s.name%>
    <% } %>
    <li class="userRef"><a href="/users/76868">First user</a></li>
    <li class="userRef"><a href="/users/89749">Second user</a></li>
    <li class="userRef"><a href="/users/90450">Third user</a></li>
    <li class="userRef"><a href="/users/69136">Fourth user</a></li>
    <li class="userRef"><a href="/users/24493">Fifth user</a></li>
</ul>
</body>
</html>