body {
    background-image: url(./background-image-for-website.jpg);
    background-color: #c7b39b;
    width: 100%;
    height: 100%;
    text-align: center;
}

.userRef {
    display: block;
    width: 115px;
    height: 20px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

div.userImage {
    padding: 0.5em;
    margin: 1em 2em;
}

div {
    display: block;
    text-align: center;
}
